.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    height: 536px;
    width: 870px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
}

.cuisine_container {
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
}

.cuisine_container h2 {
    background-color: rgb(121, 173, 193);
    border-radius: 8px 8px 0px 0px;
}

.item_container {
    background-color: rgb(245, 232, 216);
    display: flex;
    margin: 5px;
}

.item_container div {
    width: 33%;
}

.item_container_title {
    display: flex;
    background-color: rgb(205, 242, 255);
    margin: 5px;
}

.item_container_title div {
    width: 33%;
}