.menu_item{
    background-color: rgb(252, 240, 180);
    display: flex;
    margin: 5px;
    border-radius: 5px;
}

.showItems{
    display: flex;
}
.showItems div{
    /* border: 1px solid black; */
    width: 25%;
}

.addItem{
    background-color: rgb(187, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.addItem label{
    margin: 5px;
    border-radius: 10px;
}

.addItem input{
    margin: 5px;
    border-radius: 10px;
}

.editMenu{
    display: flex;
    flex-direction: column;
}
.editMenu div{
    background-color: rgb(187, 244, 244);
}

.editMenu div button{
    margin: 5px;
}

.editItems{
    
}