.main {
    /* padding: 20px; */
    display: grid;
    background-color: #eee;
    /* background: linear-gradient( to bottom, #2196f3, #c2daed);; */
}

.background {
    min-height: inherit;
    border-radius: 5px;
    padding: 10px 50px;
    display: inline-block;
    height: 100%;
}
.navbar{
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    height: 10%;
}
.content{
 
    /* height: 90%; */
    min-height: 100vh;
    padding: 15px 20px 20px 15px;
    background-color: #eee;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 0;
  }

.outside{

    display: grid;
}
.mycard{
    width: 25%;
    display: inline;
}
.row{
    /* border: 1px solid black; */
    padding: 5px;
}
/* .col-4{
    border: 1px solid blue;
} */
.rest_content{
    background-color: white;
    /* height: 300px; */
   height: 300px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    /* border: 1px solid black; */
}
.rest_image{
    height: 90%;
    /* background-color: burlywood; */
    width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}
.rest_name{
    height: 10%;
    width: 100%;
    /* background-color: antiquewhite; */
    border-radius: 0px 0px 5px 5px;
}
.restaurant_display{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap:1rem;
    /* background-color: aqua; */

}

.restaurant_card:hover{
    cursor: pointer;
}
.benefits_holder{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.benefits_card{
    width: 350px;
    display: flex;
    align-items: center;
    background-color: white;
    padding:25px 15px;
    border-radius: 5px;
    gap: 15px;
    margin-bottom: 100px;
}

