.main {
    padding: 20px;
    display: grid;
}

.background {
    min-height: inherit;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    height: 100%;
}
.navbar{
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    height: 10%;
}
.content{
 
    /* height: 90%; */
    min-height: 100vh;
    padding: 15px 20px 20px 15px;
    background-color: #eee;
    border-radius: 10px;
}

.outside{

    display: grid;
}
.mycard{
    width: 25%;
    display: inline;
}
.row{
    /* border: 1px solid black; */
    padding: 5px;
}
/* .col-4{
    border: 1px solid blue;
} */
.rest_content{
    background-color: white;
    /* height: 300px; */
   height: 300px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    /* border: 1px solid black; */
}
.rest_image{
    height: 90%;
    /* background-color: burlywood; */
    width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}
.rest_name{
    height: 10%;
    width: 100%;
    /* background-color: antiquewhite; */
    border-radius: 0px 0px 5px 5px;
}
.restaurant_display{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1rem;

}