.main {
    /* background-color: rgb(191, 115, 248); */
    min-height: 100vh;
    padding: 10px;
    /* overflow:scroll; */
    display: grid;
    height: auto
}

.background {
    /* background-color: antiquewhite; */
    height: 100%;
    border-radius: 5px;
    min-height: 100%;
    /* display: grid */
}

.customer_content1 {
    /* background-color: palevioletred; */
    padding: 10px;
    display: flex;
    background-color: #eee;
    border-radius: 5px 5px 0px 0px;
    /* height: 50%; */
}

.customer_thumbnail_pic {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    /* border: 2px solid black; */
    text-align: center;
    overflow: hidden;
    margin-left: 0px;
    background-color: #eee;
}

.thumbnail_img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.customer_content1_left {
    padding: 10px;
    /* background-color: azure;  */
    width: 50%;
    background-color: #eee
}

.customer_content1_right {
    /* background-color: rgb(71, 201, 201); */
    width: 50%;
    padding: 10px;
}

.content2 {
    /* background-color: rgb(118, 199, 107); */
    padding: 20px 10px;
}

.restaurantImgHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: aqua;
    max-height: 300px;
    overflow: hidden;
}

.restaurantImgHolder img {
    border-radius: 10px;
    padding: 10px;
}

.imageHolderLeft {
    width: 40%;
    background-color: #cac9c9;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.imageHolderRight {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 400px;
    justify-content: start;
    align-items: center;
}



.restaurant_images:hover {
    cursor: pointer;
    opacity: 0.8;
}