.main {
    /* background-color: rgb(191, 115, 248); */
    min-height: 100vh;
    /* padding: 10px; */
    /* overflow:scroll; */
    display: grid;
    height: auto
}
*{
    box-sizing: border-box;
}
.background {
    /* background-color: antiquewhite; */
    height: 100%;
    border-radius: 5px;
    min-height: 100%;
    /* display: grid */
}

.customer_content1 {
    /* background-color: palevioletred; */
    padding: 10px;
    display: flex;
    background-color: #eee;
    border-radius: 5px 5px 0px 0px;
    /* height: 50%; */
}

.thumbnail_pic {
    /* height: 180px;
    width: 180px; */
    /* border-radius: 50%; */
    /* border: 2px solid black; */
    /* height: 20%; */

    text-align: center;
    overflow: hidden;
    margin-left: 0px;
    background-color: #eee;
}
.thumbnail_pic img {
    object-fit: contain;
   
    /* height: 200px; */
    /* height: 180px; */
    /* width: 180px; */
    /* border-radius: 50%; */
}

.customer_content1_left {
    padding: 10px;
    /* background-color: azure;  */
    width: 50%;
    background-color: #eee
}

.customer_content1_right {
    width: 50%;
    padding: 10px;
}

.customer_content2 {
    margin: 10px 0px 0px 0px;
    display: flex;
    /* padding: 15px; */
    height: 60%;
    gap: 15px;
    border-radius: 5px;
}

.customer_content2_left {
    width: 70%;
    /* height: 40%; */
    
    overflow: auto;
     background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.menu_display{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2196f3;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.customer_content2_right {
    width: 30%;
    background-color: aliceblue;
    border-radius: 5px;
}
.Cuisine_container>h4{
    text-align: center;
}
.customer_restaurantImgHolder {
    padding: 10px;
    background-color: #eee;
    max-height: 300px;
    border-radius: 0px 0px 5px 5px;
}

.customer_img_holder {
    border-radius: 5px;
    display: flex;
    height: 280px;
}

.customer_imageHolderLeft {
    width: 40%;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px 0px 0px 5px;
    height: 100%;
    /* overflow: hidden; */
}

.customer_imageHolderLeft div {
    border-radius: 5px;
    /* background-color: aqua; */
    /* padding: 5px; */
    overflow: hidden;
    max-height: 280px;
}

.customer_imageHolderRight {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 300px;
    justify-content: start;
    align-items: center;
    background-color: #eee;
}

.restaurant_images:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 0 10px rgb(69, 64, 64);
}

.check_waiting_form {
    display: flex;
}

.Cuisine_container {
    border: 2px solid black;
    /* margin: 5px; */
    /* border-radius: 10px; */
    border-bottom: none;
}
.Cuisine_container:nth-last-child(1){
    border-bottom: 2px solid black
}

.Cuisine_container h2 {
    background-color: rgb(121, 173, 193);
    border-radius: 8px 8px 0px 0px;
    padding-left: 5px;
}

.item_container {
    background-color: rgb(245, 232, 216);
    display: flex;
    margin: 5px;
}

.item_container div {
    width: 33%;
    padding-left: 5px;
}

.item_container_title {
    display: flex;
    background-color: rgb(205, 242, 255);
    margin: 5px;
    padding-left: 5px;
}

.item_container_title div {
    width: 33%;
    /* padding-left: 5px; */
}
.customer_content1_right h6,.customer_content1_right h2{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    /* height: 50px; */

}
.ratings{
    color: white;
    background-color:#43a047;
    padding: 2px 5px;
    border-radius: 5px;
    width: max-content;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top:5px ;
}
.openCloseShow{
    background-color: rgb(232, 232, 84);
    color: red;
    /* margin: 5px; */
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid black; /* Set an initial border color */
    animation: borderChange 4s infinite linear; /* Apply the animation */
}
@keyframes borderChange {
    0% {
      border-color: red; /* Start with a red border */
    }
    25% {
      border-color: blue; /* Change to a blue border at 25% of the animation */
    }
    50% {
      border-color: green; /* Change to a green border at 50% of the animation */
    }
    75% {
      border-color: orange; /* Change to an orange border at 75% of the animation */
    }
    100% {
      border-color: red; /* Return to a red border at the end of the animation */
    }
  }

 .rest_details{
    display: flex;
    align-items: center;
    gap:25px;
    /* position: relative; */
    /* flex-direction: column; */
 } 
 .img_holder{
    position: relative;
    overflow: hidden;
    margin-top: 20px;

 }

 .img_holder img{
    height: 300px;
    width: 750px;
    border-radius: 5px;
    transition: all 300ms ease-in;
 }
 .img_holder img:hover{
    transform: scale(1.1);
 }
 .rest_info{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    min-width: 400px;
 }
 .rest_name_rating{
    display: flex;
    gap: 15px;
 }

 
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .dropdown-content.open {
    max-height: 500px; /* Adjust this value based on your content height */
    /* transition: max-height 0.3s ease-out; */

  }  
  
  

  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }

  .Cuisine_container:hover {
    cursor: pointer;
  }
  .Cuisine_container{
    position: relative;
  }
  .Cuisine_container .dropdown_arrow{
    position: absolute;
    right: 10px;
    top: 7px;
  }