.content1 {
    /* background-color: palevioletred; */
    padding: 10px;
    display: flex;
   
}

.thumbnail_pic {
    height: 180px;
    width: 180px;
    border-radius: 10px;
    /* border: 2px solid black; */
    text-align: center;
    overflow: hidden;
    margin-left: 0px;
    position: relative;
}

.thumbnail_img {
    height: 180px;
    width: 180px;
    /* border-radius: 50%; */
}

.inputThumbnail {
    opacity: 0%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.inputThumbnail:hover {
    opacity: 100%;
}

.content1_left {
    padding: 10px;
    /* background-color: azure; */
    width: 50%;
}

.content1_right {
    /* background-color: rgb(71, 201, 201); */
    width: 50%;
    padding: 10px;
}

.content2 {
    /* background-color: blueviolet; */
    padding: 20px 10px;
}

/* .content3 {
    
} */

.waitingList div{
    display: flex;
    flex-direction: row;
}
.waitingList div input{
    margin: 10px;
    border-radius: 5px;
}

.diningList>div {
    display: flex;
    flex-direction: row;
}

.diningList>div input{
    margin: 10px;
    border-radius: 5px;
}

.RestaurantImgHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: aqua; */
}

.RestaurantImgHolder img {
    border-radius: 10px;
}

.ImageHolderLeft {
    width: 40%;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.ImageHolderRight
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pictureViewer{
    /* background-color: bisque; */
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 400px;
    justify-content: start;
    align-items: center;
}

.image_view{
    
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px;
}


.picture {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.deletediv {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.deletediv img {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.deletediv:hover img {
    display: block;
}