.Customer_name{
    background-color: white;
    width: 70%;
    padding: 5px;
    margin: 5px;
}
.element{
    display: flex;
    gap: 0.5rem;
    /* justify-content: center;
    align-items: center; */
}
.delete_btn,.add_btn,.dine_btn{
    margin: 5px;
    width: 15%;
}
.form_input{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:10px;
}
