@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.Logo{
    width: auto;
    height: fit-content;
    overflow: hidden;
    font-family: 'Satisfy';
}

.Logo:hover{
    cursor: pointer;
}

.navbar{
    box-sizing: border-box;
    width: 100vw;
    max-width: 100vw;
    height: 80px;
    background-color: #2196f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    overflow: hidden;
}

.Logo h2{
    color: white;
    font-weight: bold;
}

.search{
    display: flex;
    align-items: center;
    background-color:aliceblue;
    border-radius: 7px;
}
